.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
}
.grid-item {
    background-color: rgb(195, 157, 113);
    padding:10px
}
.grid-item2 {
    background-color: rgb(195, 157, 113);
    padding: 10px;
}
.grid-item3 {
    background-color: #a574a5;
    padding: 10px;
     
}
.main-1 {
    grid-row: 1;
    grid-column: 1;
    height: 220px;
    max-width: 600px;
    margin-bottom: 20px;
}
.main-2 {
    grid-row: 1;
    grid-column: 2;
    max-width: 600px;
    margin-bottom: 20px;
    
    
    
}
.main-image {
    grid-row: 3;
    grid-column:1;
    max-width: 600px;
    margin-bottom: 20px;
}
.side-nav {
    grid-row: 2 / 9;
    grid-column: 3;
    margin-bottom: 20px;
}
.nav-menu {
    grid-row: 1;
    grid-column: 1 / span 3;
}
.support-1 {
    grid-row: 3;
    grid-column: 1;
    max-width: 600px;
    margin-bottom: 20px;
    
}
.support-2 {
    grid-row: 3;
    grid-column: 2;
    max-width: 600px;
    margin-bottom: 20px;
}
.header {
    grid-row: 0;
    grid-column: 0;
   
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #ebd78e;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #ebd78e;
}
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #ebd78e;
}

button {
  background-color: #ebd78e; 
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

 <!-- 👇 New css features below -- > 


button:hover {
  background-color: #b78c64;
  transform: scale(1.05);
}


@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
button:hover {
  animation: bounce 0.5s;
}

img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}



